.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  width: 483px;
  height: 185px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(236, 236, 236, 1);
  text-align: left;
  box-shadow: 0px 4px 18.3px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal.active .modal-content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-info p {
  margin: 0;
  flex: 1;
}

.modal-header {
  width: 267px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-bottom: 10px;
}

.modal-subheader {
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  color: #939393;
  padding: 2px 4px;
  border-radius: 3px;
  margin-left: 22px;
}

.modal-actions {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.btn-cancel {
  width: 91px;
  height: 30px;
  background-color: rgba(234, 23, 23, 0.28);
  color: #ea1717;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 450;
}

.btn-cancel:hover {
  background-color: #f5c6cb;
}

@media (max-width: 576px) {
  .modal-content {
    width: 85%;
    height: 163px;
    padding: 10px;
  }

  .modal-header {
    font-size: 14px;
  }

  .modal-subheader {
    font-size: 10px;
    margin-left: 10px;
  }

  .modal-info p {
    font-size: 10px;
  }
}

@media (max-width: 328px) {
  .modal-subheader {
    font-size: 9px;
  }

  .modal-info p {
    font-size: 9px;
  }
}
