#postCard {
  background-color: #ffffff;
  box-shadow: 0 4px 18.3px 0 rgba(0, 0, 0, 0.05);
}

#postCard .profileImage {
  width: 55px;
  height: 55px;
  border: 2px solid #c0c0c0;
  border-radius: 50%;
  object-fit: cover;
}

#postCard img {
  width: 21px;
}

#postCard h5 {
  color: #505050;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#postCard h6 {
  color: #ccc;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
}

#postCard p {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

#postCard > div > :last-child img {
  width: 18px;
  height: 18px;
}

#postCard > div > :last-child span {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

#postCard > div > :last-child button span {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

/*-------------------------------Post card mobile view--------------------------------- */
#createPostMobile {
  display: none;
}

#postCardMobile {
  background-color: #ffffff;
  box-shadow: 0 4px 18.3px 0 rgba(0, 0, 0, 0.05);
  display: none;
}

#postCardMobile .profileImage {
  width: 45px;
  height: 45px;
  border: 2px solid #c0c0c0;
  border-radius: 50%;
}

#postCardMobile img {
  width: 21px;
}

#postCardMobile h5 {
  color: #505050;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-left: -10px;
}

#postCardMobile h6 {
  color: #ccc;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin-top: -10px;
  margin-left: -10px;
}

#postCardMobile i {
  margin-bottom: 20px;
}

#postCardMobile p {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: justify;
}

#postCardMobile > div > :last-child img {
  width: 18px;
  height: 18px;
}

#postCardMobile > div > :last-child span {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 8px;
  font-weight: 400;
}

#postCardMobile > div > :last-child button span {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 8px;
  font-weight: 700;
}

#createPostWeb {
  margin-top: 0px;
}

/* Responsive Adjustments */
@media screen and (max-width: 400px) {
  #edit-info-btn {
    padding: 5px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #createPostWeb {
    margin: 10px;
  }

  #postCard {
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #postCardContent {
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 767px) {
  #createPostWeb {
    display: none;
  }

  #createPostMobile {
    margin-top: 10px;
    display: block;
  }

  #postCard {
    display: none;
  }

  #postCardMobile {
    display: block;
  }

  #postCardMobile > div > :last-child button {
    width: auto;
    margin: 0;
  }
}

@media screen and (max-width: 1323px) {
  #postCardContent {
    padding-left: 72px !important;
  }

  .postMore {
    font-size: 20px;
  }

  .inspiration-count {
    font-size: 11px !important;
  }
}
