@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #FFFAFA;
    --text-color: #000;
    --second-bg-color: #f1eded;
}

.profile-banner {
    
    height: 35vh;
    min-height: 200px;
    max-height: 400px;
    position: relative;
    border-radius: 10px;
}

/* .container-fluid {
    height: 75vh;
} */
.profile-wall {
    padding-bottom: 2%;
    border-radius: 15px;
    background: var(--bg-color);
    box-shadow: 0px 4px 18.3px 0px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;

}

.profile-banner .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-banner .btn-edit-cover {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    color: #000;
}

.btn-edit-mobile {
    display: none;
}

#btn-Edit {
    border-radius: 100%;
}

.details-container {
    bottom: 30px;
    position: relative;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 50%;
}


.profile-info h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    margin-top: 10%;
}

.profile-info h3 {
    font-size: 15px;
    margin: 0;
}

.profile-info h4 {
    font-size: 18px;
    color: var(--text-color);
    margin: 10px 0 0 0;
}

.btn-light {
    background-color: rgba(241, 235, 235, 0.8);
    border: 1px solid rgb(187, 186, 186);
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-light:hover {
    background-color: rgba(255, 255, 255, 1);
}

.underline-bar {
    border: none;
    height: 3px;
    background-color: #666;
    /* width: 100%; */
    opacity: 0.1;
    box-sizing: border-box;

}

#edit-info-btn {
    font-size: 0.8rem;
    gap: 20px;
}

.information-container {
    margin: 0 3%;
}

.info-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 22.9px -6px rgba(0, 0, 0, 0.10);
}
.form-control:focus{
    box-shadow: none !important;    
}
.info-box h5 {
    font-size: 16px;
    font-weight: bold;
}


/* .btn-custom{
    margin: 500px;
} */
.btn-custom-danger {
    background-color: white;
    color: red;
    border: 2px solid red;
    transition: background-color 0.3s, color 0.3s;
}

.btn-custom-danger:hover {
    background-color: red;
    color: white;
}

.btn-custom-warning {
    background-color: white;
    color: red;
    border: 2px solid red;
    transition: background-color 0.3s, color 0.3s;
}

.btn-custom-warning:hover {
    background-color: rgb(255, 153, 0);
    color: white;
}

.profile-wall * {
    font-family: "Poppins", sans-serif;
}

.profile-wall h5 {
    font-size: 13px;
    color: #949494;
    font-weight: 500;
}

.profile-wall input {
    color: #000;
}

@media (max-width: 768px) {
    .profile-banner {
        height: 25vh;
    }

    #circle-camera {
        display: block;
    }

    .btn-edit-cover {
        display: none;
    }

    .btn-edit-mobile {
        display: block;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.25);
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .profile-info {
        text-align: center;
    }
}

@media (max-width: 425px) {
    .details-container {
        bottom: 70px;
    }

    .container-fluid {
        height: 52vh;
    }

    .profile-info h1 {
        margin-top: 0;
    }
}

/*.position-relative {*/
/*    position: relative;*/
/*}*/

#circle-camera {
    background-color: var(--second-bg-color) !important;
    border-radius: 100%;
    font-size: 13px;
    border: none;
    /*position: absolute;*/
    top: 80%;
    right: 0;

    transform: translateY(-50%);
    z-index: 1;
    /* Ensure it appears above the image */
}